<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ esEdicion ? 'Editar Cliente' : 'Nuevo Cliente' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Identificación</ion-label>
    <ion-input [(ngModel)]="form['identificacion']" placeholder="Ingrese identificación"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="form['nombre']" placeholder="Ingrese nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="form['telefono']" placeholder="Ingrese teléfono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="form['correo']" placeholder="Ingrese correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    <ion-input [(ngModel)]="form['direccion']" placeholder="Ingrese dirección"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">País</ion-label>
    <ion-input [(ngModel)]="form['pais']" placeholder="Ingrese país"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ciudad</ion-label>
    <ion-input [(ngModel)]="form['ciudad']" placeholder="Ingrese ciudad"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" class="ion-margin-top" (click)="guardar()">
    <ion-icon name="save-outline" slot="start"></ion-icon>
    Guardar
  </ion-button>

  <ion-button *ngIf="esEdicion" expand="block" color="danger" class="ion-margin-top" (click)="eliminar()">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    Eliminar
  </ion-button>
</ion-content>